@font-face {
    font-family: 'Helvetica Neue'; /* Name der Schriftart */
    src: url('../assets/font/HelveticaNeue.ttf') format('truetype'); /* Moderne Formate */
    font-weight: 400; /* Gewicht der Schriftart (normal, bold, etc.) */
    font-style: normal; /* Stil der Schriftart (normal, italic, etc.) */
}

@font-face {
    font-family: 'Helvetica Neue'; /* Name der Schriftart */
    src: url('../assets/font/HelveticaNeue-Italic.ttf') format('truetype'); /* Moderne Formate */
    font-weight: 400; /* Gewicht der Schriftart (normal, bold, etc.) */
    font-style: italic; /* Stil der Schriftart (normal, italic, etc.) */
}

@font-face {
    font-family: 'Helvetica Neue'; /* Name der Schriftart */
    src: url('../assets/font/HelveticaNeue-Bold.ttf') format('truetype'); /* Moderne Formate */
    font-weight: 700; /* Gewicht der Schriftart (normal, bold, etc.) */
    font-style: bold; /* Stil der Schriftart (normal, italic, etc.) */
}

@font-face {
    font-family: 'Helvetica Neue'; /* Name der Schriftart */
    src: url('../assets/font/HelveticaNeue-BoldItalic.ttf') format('truetype'); /* Moderne Formate */
    font-weight: 700; /* Gewicht der Schriftart (normal, bold, etc.) */
    font-style: italic; /* Stil der Schriftart (normal, italic, etc.) */
}

@font-face {
    font-family: 'Helvetica Neue'; /* Name der Schriftart */
    src: url('../assets/font/HelveticaNeue-Medium.ttf') format('truetype'); /* Moderne Formate */
    font-weight: 500; /* Gewicht der Schriftart (normal, bold, etc.) */
    font-style: normal; /* Stil der Schriftart (normal, italic, etc.) */
}